* {
    font-family: Arial, Helvetica, sans-serif;
}

header, .hero, .main, .quote, footer {
    padding-left: 300px;
    padding-right: 300px;
}

header, .hero, footer {
    background-color: #1f2937;  
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.link {    
    gap: 30px;
}

ul {
   display: flex; 
   list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;  
}

.hero {
    display: flex;
    /* text-wrap: nowrap; */
    gap: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
 }

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.picture {
    width: 80%;
    /* margin-bottom: 200px; */
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    /* display: flex; */
    padding: 150px 500px;
}
.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-name {
    text-align: end;
    font-size: 24px;
    font-weight: 800;
}

.join, button {
  background-color: #3882f6;  
  color: #f9faf8;;
}

.join {
    display: flex;
    padding: 50px 100px;
    margin: 150px 300px;
    justify-content: space-around;  
}
button {
    padding: 60px 120 px;
}
